<link rel="stylesheet" href="/styles.css">


<header class="header_bar">
  <a href="/"><img src="/ghost.png" alt="ghostrunner" class="main_logo"></a>
</header>

<h2 id="hello_user">Welcome, {{user.name}}!</h2>
<h3> What would you like to do? </h3>

<nav class="navigation">
    <a class="button" href="/profile">Scoreboard</a>
    <a class="button" href="/snippetlist">My Time</a>
    <a class="button" href="/addsnippet">Add Time</a>
    <a href="/logout">Logout</a>
</nav>

<div class="wrapper">

<div class="donateBox">
  <iframe style="height: 325px;width: 300px;border: medium none;" src="https://www.flipcause.com/embed/html_widget/MTgzMzY="></iframe>
</div>

<footer>
  <p> MTJMGhostRunner</p>
  <a class="donationLink" href="https://www.flipcause.com/widget/widget_home/MTgzMzY=">Donate</a>
</footer>
