
@import url("https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet");
@import url("https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet");

h1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  font-size: 2.2em;
  letter-spacing: 2;
  margin: 0;
  text-shadow: 2px 2px purple;
}

.header_bar{
  background: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header_bar p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: purple;
}

.login-page {
  width: 360px;
  padding: 10px;
  /*margin: 75px auto;*/
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 5px 5px 5px purple;
  border-radius: 20px;
}

.form input {
  font-family: 'Raleway', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 0.8em;
}
.form button {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  border: 1px solid white;
  width: 100%;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.wrapper{
  height: 600px;
}

.form button:hover,.form button:active,.form button:focus {
  background: black;
  color: white;
  border: 1px solid white;
}

.form .message {
  margin: 20px 0 0;
  color: #b3b3b3;
  font-size: 1em;
}

.form .message a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
}

.form .message a:hover{
  text-decoration: underline;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 2.5em;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.login-page{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0px;
}

body {
  background: black; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);*/
  background: black;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

.failure{
  width: 100%;
  text-align: center;
  color: purple;
  font-size: 1.5em;
  font-weight: bolder;
  padding-top: 20px;
}

#login_logo{
  margin-top: 50px;
  height: 100px;
  text-shadow: 5px 5px 5px purple;
}


#hello_user{
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 2.5em;
  color: white;
  text-shadow: 5px 5px 5px purple;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}

.main_logo{
  height: 250px;
}

.profile{
  border-radius: 25px;
  width: 20%;
  margin: 5px auto;
  animation: 3s 3s linear 1 slide;
}

.menu{
  font-size: 3em;
  text-align: center;
}

.navigation{
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.navigation a{
  font-size: 1em;
  padding: 10px;
  color: white;
  text-decoration: none;
  border: 1px white solid;
  background: gray;
  width: 40%;
  margin-bottom: 2px;
}

.navigation a:hover{
  text-decoration: underline;
}

.search_box{
  margin-top: 20px;
}

.search{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: purple;
  text-align: center;
}

.search_form{
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  margin: 10px auto;
}

#search_button{
  width: 45%;
  margin: 10px auto;
}

h3{
  color: purple;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

h2{
  font-family: 'Raleway', sans-serif;
}

#snip_add{
  margin-top: 10px;
}

.learn_code{
  border-top: 5px solid white;
  height: 200px;
  background: purple;
}

.snippet_table{
  font-family: 'Raleway', sans-serif;
  background: white;
  border-color: white;
  width: 80%;
  margin: 10px auto;
  font-size: 1em;
}

.snippet_table th{
  font-size: 1em;
  color: purple;
}

.snippet_table td{
  padding: 10px;
  color: purple;
}

#body_cell{
  font-size: 12px;
}

.welcome{
  text-align: center;
  margin: 25px auto;
}

#my_tasks{
  color: white;
  margin-top: 10px;
}

.new_task{
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  color: white;
  background: gray;
  border: white 1px solid;
  padding: 10px;
  border-radius: 5px;
}

#add_task{
  /*padding: 10px auto;*/
  color: white;
  margin: 25px auto;
}


#mapContainer{
  display: flex;
  justify-content: center;
}

#map{
  z-index: 1;
  height: 75%;
  width: 85%
}

#stopWatch{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Orbitron', sans-serif;
}

.watchbutton{
  text-decoration: none;
  border: black 1px solid;
  background: gray;
  color: white;
}

.donateBox{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.donationLink{
  align-self: center;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 1em
}

footer{
  bottom: 1;
  display: flex;
  justify-content: space-between;
  background-color: purple;
  padding: 2px 25px;
  position: fixed;
  width: 100%;
  z-index:1;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 1.3em
}
